<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="education-teach"/>
    <dubbo:annotation package="cn.teach.facade"/>
    <dubbo:registry id="dubboRegistry" address="${dubbo.address}" />
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${dubbo.port}" accesslog="./../teach/logs/dubbo.log"
                    dispatcher="execution" threadpool="limited" threads="100"/>
    <dubbo:provider timeout="30000" registry="dubboRegistry" threadpool="limited" threads="100" accepts="500"/>
    <!-- 消费的服务 -->
    <dubbo:consumer check="false"
                    timeout="30000"
                    retries="0"
                    loadbalance="random"
                    cluster="failover"
                    registry="dubboRegistry"
    />
</beans>